<div class="container">
    <div class="row">
        <div class="col-xs-12">

            <div class="table-responsive" ng-init="starshiptravelCtrl.GetStarShips(1)">
                <table summary="Starship travel & resupply count" class="table table-bordered table-hover">
                    <caption class="text-left">
                        <span class="planet-distance-caption">Starship Resupply stop count</span>
                        <span class="pull-right">
                            <input type="text" class="form-control-static planet-distance" ng-model="starshiptravelCtrl.planetDistance" placeholder="Enter Travel distance in MGLT" />
                            <button class="btn btn-info" ng-click="starshiptravelCtrl.GetShipsSupplyCount()">Submit</button>
                        </span>
                    </caption>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Crew</th>
                            <th>Consumables</th>
                            <th>MGLT</th>
                            <th>Resupply Info</th>
                            <th>Planet Distance</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="starship in starshiptravelCtrl.starshipModel.starships">
                            <td>{{starship.name}}</td>
                            <td>{{starship.crew}}</td>
                            <td>{{starship.consumables}}</td>
                            <td>{{starship.MGLT}}</td>
                            <td>{{starship.ReSupplyCount}}</td>
                            <th>{{starshiptravelCtrl.planetDistance}}</th>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>